// prettier-ignore
$from-xs: ( min-width: 0px );

// prettier-ignore
$from-sm: ( min-width: 576px );
// prettier-ignore
$to-sm: ( max-width: 575px );

// prettier-ignore
$from-md: ( min-width: 768px );
// prettier-ignore
$to-md: ( max-width: 767px );

// prettier-ignore
$from-lg: ( min-width: 992px );
// prettier-ignore
$to-lg: ( max-width: 991px );

// prettier-ignore
$from-xl: ( min-width: 1200px );
// prettier-ignore
$to-xl: ( max-width: 1199px );
